:root {
  --collor-airbnb: #ff5a5f;
  --collor-branco: #ffffff;
  --color-preto: #000000;
  --collor-fundo: #f5f5f5;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--collor-fundo);
}
